# AWS Configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
CDN_DOMAIN=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=5001

VITE_API_URL=
VITE_API_BASE_URL=
VITE_GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_ID=
JWT_SECRET=